include requirements.txt
include Pipfile.lock
include stockfish_versions/stockfish-ubuntu-20.04-x86-64-avx2
include stockfish_versions/stockfish-windows-2022-x86-64-avx2.exe
include stockfish_versions/stockfish-ubuntu-20.04-x86-64
include stockfish_versions/stockfish_15.1_x64_bmi2
include stockfish_versions/stockfish-ubuntu-20.04-x86-64-modern
include stockfish_versions/stockfish-windows-2022-x86-64-modern.exe
include stockfish_versions/readme.txt
include assets/textures/chars/d.png
include assets/textures/chars/4.png
include assets/textures/chars/f.png
include assets/textures/chars/g.png
include assets/textures/chars/8.png
include assets/textures/chars/b.png
include assets/textures/chars/2.png
include assets/textures/chars/e.png
include assets/textures/chars/6.png
include assets/textures/chars/3.png
include assets/textures/chars/1.png
include assets/textures/chars/h.png
include assets/textures/chars/c.png
include assets/textures/chars/a.png
include assets/textures/chars/5.png
include assets/textures/chars/7.png
include assets/textures/board/regular/light.png
include assets/textures/board/regular/dark.png
include assets/textures/board/wooden/light.png
include assets/textures/board/wooden/dark.png
include assets/textures/board/wooden/orig_light.png
include assets/textures/buttons/icons/settings.png
include assets/textures/buttons/icons/empty.png~
include assets/textures/buttons/icons/knight.png
include assets/textures/buttons/icons/bishop.png
include assets/textures/buttons/icons/queen.png
include assets/textures/buttons/icons/close.png
include assets/textures/buttons/icons/refresh.png
include assets/textures/buttons/icons/pause.png
include assets/textures/buttons/icons/restart.png
include assets/textures/buttons/icons/volume_down.png
include assets/textures/buttons/icons/hover/settings.png
include assets/textures/buttons/icons/hover/knight.png
include assets/textures/buttons/icons/hover/bishop.png
include assets/textures/buttons/icons/hover/queen.png
include assets/textures/buttons/icons/hover/close.png
include assets/textures/buttons/icons/hover/refresh.png
include assets/textures/buttons/icons/hover/pause.png
include assets/textures/buttons/icons/hover/restart.png
include assets/textures/buttons/icons/hover/volume_down.png
include assets/textures/buttons/icons/hover/rook.png
include assets/textures/buttons/icons/hover/remove.png
include assets/textures/buttons/icons/hover/volume_up.png
include assets/textures/buttons/icons/hover/help.png
include assets/textures/buttons/icons/hover/add.png
include assets/textures/buttons/icons/hover/play.png
include assets/textures/buttons/icons/hover/play_random.png
include assets/textures/buttons/icons/hover/play_white.png
include assets/textures/buttons/icons/hover/play_black.png
include assets/textures/buttons/icons/rook.png
include assets/textures/buttons/icons/remove.png
include assets/textures/buttons/icons/volume_up.png
include assets/textures/buttons/icons/help.png
include assets/textures/buttons/icons/on_pressed/settings.png
include assets/textures/buttons/icons/on_pressed/knight.png
include assets/textures/buttons/icons/on_pressed/bishop.png
include assets/textures/buttons/icons/on_pressed/queen.png
include assets/textures/buttons/icons/on_pressed/close.png
include assets/textures/buttons/icons/on_pressed/refresh.png
include assets/textures/buttons/icons/on_pressed/pause.png
include assets/textures/buttons/icons/on_pressed/restart.png
include assets/textures/buttons/icons/on_pressed/volume_down.png
include assets/textures/buttons/icons/on_pressed/rook.png
include assets/textures/buttons/icons/on_pressed/remove.png
include assets/textures/buttons/icons/on_pressed/volume_up.png
include assets/textures/buttons/icons/on_pressed/help.png
include assets/textures/buttons/icons/on_pressed/add.png
include assets/textures/buttons/icons/on_pressed/play.png
include assets/textures/buttons/icons/on_pressed/play_random.png
include assets/textures/buttons/icons/on_pressed/play_white.png
include assets/textures/buttons/icons/on_pressed/play_black.png
include assets/textures/buttons/icons/queen.png~
include assets/textures/buttons/icons/add.png
include assets/textures/buttons/icons/play.png
include assets/textures/buttons/icons/play_random.png
include assets/textures/buttons/icons/play_white.png
include assets/textures/buttons/icons/play_black.png
include assets/textures/buttons/icons/empty.png
include assets/textures/buttons/play/ai.png
include assets/textures/buttons/play/empty.png~
include assets/textures/buttons/play/lvl1.png
include assets/textures/buttons/play/hover/ai.png
include assets/textures/buttons/play/hover/lvl1.png
include assets/textures/buttons/play/hover/lvl3.png
include assets/textures/buttons/play/hover/lvl2.png
include assets/textures/buttons/play/hover/lvl4.png
include assets/textures/buttons/play/hover/analyse.png
include assets/textures/buttons/play/hover/lvl5.png
include assets/textures/buttons/play/hover/player.png
include assets/textures/buttons/play/hover/empty.png
include assets/textures/buttons/play/lvl3.png
include assets/textures/buttons/play/lvl2.png
include assets/textures/buttons/play/lvl4.png
include assets/textures/buttons/play/analyse.png
include assets/textures/buttons/play/on_pressed/ai.png
include assets/textures/buttons/play/on_pressed/lvl1.png
include assets/textures/buttons/play/on_pressed/lvl3.png
include assets/textures/buttons/play/on_pressed/lvl2.png
include assets/textures/buttons/play/on_pressed/lvl4.png
include assets/textures/buttons/play/on_pressed/analyse.png
include assets/textures/buttons/play/on_pressed/lvl5.png
include assets/textures/buttons/play/on_pressed/player.png
include assets/textures/buttons/play/on_pressed/empty.png
include assets/textures/buttons/play/lvl5.png
include assets/textures/buttons/play/player.png
include assets/textures/buttons/play/empty.png
include assets/textures/pieces/regular/black/pawn.png
include assets/textures/pieces/regular/black/knight.png
include assets/textures/pieces/regular/black/bishop.png
include assets/textures/pieces/regular/black/queen.png
include assets/textures/pieces/regular/black/king.png
include assets/textures/pieces/regular/black/rook.png
include assets/textures/pieces/regular/white/pawn.png
include assets/textures/pieces/regular/white/knight.png
include assets/textures/pieces/regular/white/bishop.png
include assets/textures/pieces/regular/white/queen.png
include assets/textures/pieces/regular/white/king.png
include assets/textures/pieces/regular/white/rook.png
include assets/textures/pieces/wooden/black/pawn.png
include assets/textures/pieces/wooden/black/knight.png
include assets/textures/pieces/wooden/black/bishop.png
include assets/textures/pieces/wooden/black/queen.png
include assets/textures/pieces/wooden/black/king.png
include assets/textures/pieces/wooden/black/rook.png
include assets/textures/pieces/wooden/white/pawn.png
include assets/textures/pieces/wooden/white/knight.png
include assets/textures/pieces/wooden/white/bishop.png
include assets/textures/pieces/wooden/white/queen.png
include assets/textures/pieces/wooden/white/king.png
include assets/textures/pieces/wooden/white/rook.png
include assets/textures/pieces/circle.png
include assets/textures/pieces/shadow.png
include assets/textures/icon.png
include assets/sources.txt
include assets/fonts/main.ttf
include Pipfile
include ai/common.json
include ai/lvl4.json
include ai/lvl5.json
include ai/lvl2.json
include ai/lvl3.json
include ai/lvl1.json
include ./README.md
include ./.gitignore